/* ================= Header ================= */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px; /* Avoid content touching the edges */
  position: relative; /* Ensure positioning context for absolute elements */
}

.logo {
  margin-left: 0;
  padding-right: 0;
}

.logo img {
  width: 300px;
  height: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 45px;
  z-index: 1100; /* Ensure it's above other elements */
}

.nav {
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 19px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 100%;
  }

  .nav.nav--open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav a {
    font-size: 20px;
    padding: 10px 0;
  }

  .logo img {
    width: 200px;
  }
}
